<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.employee.mapper.EmpReplyMapper">

	<!-- 전체조회 -->
	<select id="getList" resultType="EmpReplyVO">
		SELECT RNO
			   , BNO
			   , REPLY
			   , REPLYER
			   , REPLYDATE
			   , UPDATEDATE
		FROM TBL_REPLY
		WHERE BNO = #{bno}
		ORDER BY RNO
	</select>
	
	<!-- 단건조회 -->
	<select id="read" resultType="EmpReplyVO">
		SELECT RNO
			   , BNO
			   , REPLY
			   , REPLYER
			   , REPLYDATE
			   , UPDATEDATE
		FROM TBL_REPLY
		WHERE RNO = #{rno}
	</select>
	
	<!-- 등록 -->
	<insert id="insert">
		<selectKey keyProperty="rno" resultType="long" order="BEFORE">
			SELECT SEQ_REPLY.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_REPLY(
			   RNO
			   , BNO
			   , REPLY
			   , REPLYER
		)
		VALUES(
			   #{rno}
			   , #{bno}
			   , #{reply}
			   , #{replyer}
		)
	</insert>
	
	<!-- 수정 -->
	<update id="update">
		UPDATE TBL_REPLY
		SET REPLY = #{reply}
			, UPDATEDATE = SYSDATE
		WHERE RNO = #{rno}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		DELETE TBL_REPLY
		WHERE RNO = #{rno}
	</delete>
	
</mapper>